# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\proyectos\javeriana\order-managements\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
